<h2>Log IN NOWWWWWWWWW BELOW </h2>


<form action="<%= session_url   %> method="POST">
    <input type="text" name="user[username]">
    <input type="password" name="user[password]" id="">
    <button>Submit HERE</button>



</form>