<h2>Join us NOW</h2>


<form action="<%= users_url %>" method="POST">
    <input type="text" name="user[email]" placeholder="Your email dummy">
    <input type="text" name ="users[password]" placeholder="thepassword">
    <button>Submit</button>



</form>